---
import Title from '../../../components/atoms/Title.astro';
import SkillsOnTerminal from '../../../components/skills/components/skills-on-terminal/skillsOnTerminal.astro';
import '../../../styles/skills.css';
---

<section id="skills" class="skills">
	<SkillsOnTerminal > 
		<Title contenido="Habilidades"></Title>
	</SkillsOnTerminal>
	<div class="text-content">
	
		<ul class="skill-list">
			<li><strong>React.js:</strong> Desarrollo de páginas web dinámicas con React.js, utilizando componentes reutilizables y gestionando el estado de la aplicación.</li>
			<li><strong>Angular:</strong> Desarrollo de aplicaciones web eficientes y escalables con Angular.</li>
			<li><strong>Docker:</strong> Creación y gestión de contenedores Docker para el despliegue y gestión de aplicaciones.</li>
			<li><strong>WordPress:</strong> Desarrollo y mantenimiento de tiendas en línea con WordPress, incluyendo la creación de comercio electrónico y personalización de temas.</li>
			<li><strong>Astro:</strong> Creación de páginas de aterrizaje y sitios web modernos utilizando Astro para un rendimiento optimizado.</li>
		</ul>
	</div>
</section>
