---
import SocialIcons from '../../../components/SocialIcons.astro';
import Title from '../../../components/atoms/Title.astro';
import '../../../styles/about.css'
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/imagenmia2.jpg"
			alt="Profile photo of Juan Esteban"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Work Experience" />
			<p class="about__text">
				Throughout my career as a web developer, I have had the opportunity to work in several companies where I gained valuable experience. At Choucair Testing, I worked from May to December, specializing in React.js and acquiring solid knowledge in Docker. My main focus was on front-end development, but I also supported backend development and database management.
			</p>
			<p class="about__text">
				Until August of this year, I was applying my skills at Servireencauche. There, I developed an inventory system using Excel and macros, as well as creating landing pages and an e-commerce in WordPress for the brands associated with the company.
			</p>
			
			<SocialIcons width="25" height="25"/>
		</div>
	</div>
</section>
