---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills" class="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<ul class="skill-list">
			<li><strong>React.js:</strong> Development of dynamic web pages with React.js, using reusable components and managing application state.</li>
			<li><strong>Angular:</strong> Development of efficient and scalable web applications with Angular.</li>
			<li><strong>Docker:</strong> Creation and management of Docker containers for application deployment and management.</li>
			<li><strong>WordPress:</strong> Development and maintenance of online stores with WordPress, including e-commerce creation and theme customization.</li>
			<li><strong>Astro:</strong> Creation of landing pages and modern websites using Astro for optimized performance.</li>
		</ul>
	</div>
</section>
