---
import { languages } from "../in18/ui";
---

<ul >
  {Object.entries(languages).map(([lang, { label, flag }]: [string, { label: string; flag: string }]) => (
    <li>
      <a class="menu__link" href={`/${lang}/`} style="display: flex; align-items: center; text-decoration: none;">
        <img src={flag} alt={`${label} flag`} width="16" height="16" style="margin-right: 5px;" />
        {label}
      </a>
    </li>
  ))}
</ul>
<style>
  /* Initially hide the mobile LanguagePicker */
.mobile-language-picker {
	display: none ;
}

/* For larger screens */
@media (min-width: 768px) {
	.desktop-language-picker {
		display: block;
	}
	.mobile-language-picker {
		display: none;
	}
}

/* For smaller screens */
@media (max-width: 767px) {
	.desktop-language-picker {
		display: none;
	}
	.mobile-language-picker {
		display: block;
	}
}

</style>